In [170]:
fruits = ['banana', 'apple', 'plum']

In [171]:
basket  = []
another_basket = list()

In [172]:
len(fruits)

3

In [173]:
len(basket)

0

In [174]:
fruits.append('pineapple')

In [175]:
fruits

['banana', 'apple', 'plum', 'pineapple']

In [176]:
fruits.insert(2, 'orange')

In [177]:
fruits

['banana', 'apple', 'orange', 'plum', 'pineapple']

In [178]:
fruits.extend(['melon', 'watermelon'])

In [179]:
fruits

['banana', 'apple', 'orange', 'plum', 'pineapple', 'melon', 'watermelon']

In [180]:
len(fruits)

7

In [181]:
fruits.pop()

'watermelon'

In [182]:
len(fruits)

6

In [183]:
'melon' in fruits

True

#### Slicing

In [184]:
fruits[0]  # first element

'banana'

In [185]:
fruits[0:2]

['banana', 'apple']

In [186]:
fruits[:2]

['banana', 'apple']

In [187]:
fruits[::2]

['banana', 'orange', 'pineapple']

In [188]:
fruits[:2:-1]

['melon', 'pineapple', 'plum']

#### Tuples

In [189]:
breakfast = ('oatmill', 'scrambled eggs', 'orange juice')

In [190]:
# We Can't append data to tuples
#breakfast.append(3)

### Dictionaries

In [191]:
person = {
 'name': 'Jim',
 'surname': 'Hawkins',
 'age':17
}

In [192]:
person['age']

17

In [193]:
person['hair'] = 'ginger'

In [194]:
additional_info = {
    'gender': 'male',
    'nationality': 'british',
    'age': 16
}

person.update(additional_info)

In [195]:
person.pop('age')

16

### keys and values

In [196]:
print({'name':'Jim', 'surname': 'Hawkins'}.items())

dict_items([('name', 'Jim'), ('surname', 'Hawkins')])

#### get

In [197]:
person.get('eye color', 'brown')

'brown'

In [198]:
'name' in person

True

In [199]:
'Jim' in person

False

#### Sets

In [200]:
names = set(['Sam', 'John', 'James', 'Sam'])
names

{'James', 'John', 'Sam'}

In [201]:
other_names = {'James', 'Nikolai', 'Iliah'}

In [202]:
names.difference(other_names)

{'John', 'Sam'}

In [203]:
names.symmetric_difference(other_names)

{'Iliah', 'John', 'Nikolai', 'Sam'}

#### Membership test time comparison

In [204]:
l = ['apple', 'banana', 'orange', 'grapefruit', 'plum', 'grape', 'pear']
s = set(l)

In [205]:
%timeit 'pear' in l

133 ns ± 5.96 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [206]:
%timeit 'pear' in s

51.1 ns ± 9.01 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

#### More data structures

#### Frozensets

In [207]:
frozenset('Hello')

frozenset({'H', 'e', 'l', 'o'})

#### Defaultdict

In [208]:
from collections import defaultdict
d = defaultdict(str)  # returns empty string as default value

In [209]:
d['name'] = 'John'

In [210]:
d['surname']

''

### Counter

In [211]:
from collections import Counter

Counter('Hello')

Counter({'H': 1, 'e': 1, 'l': 2, 'o': 1})

In [212]:
c1 = Counter({'banana': 2, 'apple': 1})
c1['apple'] += 1
c1

Counter({'banana': 2, 'apple': 2})

### Queues

In [213]:
from queue import Queue

In [214]:
Q = Queue(maxsize=2)
Q.put('wash dishes')
Q.put('water flowers')

Q.qsize()

2

In [215]:
Q.put_nowait('check mail')

Full:

In [216]:
Q.get()

'wash dishes'

In [217]:
Q.task_done()
Q.qsize()

1

In [218]:
Q.put('check mail')
Q.qsize()

2

### Deques

In [219]:
from collections import deque
D = deque(['wash dishes', 'water flowers', 'check mail'])

In [220]:
D.pop()

'check mail'

In [221]:
D.popleft()

'wash dishes'

### Named Tuples

In [222]:
from collections import namedtuple
user = namedtuple('User', 'name, surname, age')

peter = user(name='Peter', surname='Pan', age=13) 
wendy = user(name='Wendy', surname='Darling', age=13)

In [223]:
peter[0]

'Peter'

In [224]:
peter[:2]

('Peter', 'Pan')

In [225]:
wendy.surname

'Darling'

In [226]:
hasattr(wendy, 'age')

True

In [227]:
getattr(wendy, 'age')

13

In [228]:
user = namedtuple('User', 'name, surname, age')

#### Generators

In [229]:
def my_generator(N, power=2):
    
    # `for` loop, which we'll cover in depth in the next chapter.
    # note that loops require another level of indentation
    for el in range(N):
        yield el**power

In [230]:
N = my_generator(4, power=2)

In [231]:
next(N)

0

In [232]:
for el in N:
    print(el)

1
4
9

In [233]:
list(range(5))

[0, 1, 2, 3, 4]

In [234]:
20346 in range(0, 100_000_000, 2)

True

##### Useful Functions to use with data structures

### `Sum`, `max` and `min`

In [235]:
sum({1:'A', 2:'B'})

3

In [236]:
max({'A':1, 'B':2})

'B'

### `All` and `Any`

In [237]:
all([False, True, True])

False

In [238]:
any([False, True, False])

True

In [239]:
data1, data2 = (1, 2, 3, 4, 5), ('A', 'B', 'C', 'D', 'E')

In [240]:
result = list(zip(data1, data2))
result

[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D'), (5, 'E')]

In [241]:
list(zip(*result))

[(1, 2, 3, 4, 5), ('A', 'B', 'C', 'D', 'E')]

In [242]:
dict(zip(data1, data2))

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}

#### Map, filter, and reduce

In [243]:
data1, data2 = (1, 2, 3, 4, 5), ('A', 'B', 'C', 'D', 'E')

In [244]:
list(map(lambda x: x**2, data1))  # converting to list in order to se results

[1, 4, 9, 16, 25]

In [245]:
list(map(lambda x: x.lower(), data2))

['a', 'b', 'c', 'd', 'e']

In [246]:
list(filter(lambda x: x > 3, data1))

[4, 5]

#### Comprehensions

In [247]:
{el**2 for el in range(3)}

{0, 1, 4}

In [248]:
%%timeit
s = set()

for el in range(10):
    s.add(el**2)

4.7 µs ± 245 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [249]:
%timeit set(map(lambda x: x**2, range(10)))

4.98 µs ± 480 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [250]:
%timeit {el**2 for el in range(10)}

4.33 µs ± 767 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [251]:
characters = [
    {'name': 'Peter Pan', 'age': 13, 'type': 'boy'},
    {'name': 'Wendy Darling', 'age': 14, 'type': 'girl'},
    {'name': 'Captain Cook', 'age': 45, 'type': 'pirate'} # just guessing
]

[el['name'] for el in characters if el['age'] < 15]

['Peter Pan', 'Wendy Darling']

In [252]:
D = {'A':1, 'B':2 }
{v:k for k, v in D.items()}

{1: 'A', 2: 'B'}