### Pandas

In [21]:
# Importing the Required Library
import pandas as pd

# Creating the Animal Dataset
animals = pd.DataFrame({'survival_skill':[1,2,3], 'age':[0,0,0]})

# Setting up a Constraint
max_age = 2

animals['age'] += 1 # this adds one to age of all
animals

   survival_skill  age
0               1    1
1               2    1
2               3    1

In [22]:
# Dropping the All Animal Column values
# this drops all animals with age above maximum

animals = animals[animals.age <= max_age]

In [23]:
# Printing the Animals Datarame values
animals

   survival_skill  age
0               1    1
1               2    1
2               3    1

### Numpy

In [24]:
# Creating the 3 Lists for Performance Testing of Numpy library
A, B, C = [1,2,3,4,5]*1000, [2,3,4,5,6]*1000, [10,9,8,7,6]*1000

# Testing the Content
%timeit result = [sum(row) for row in zip(A,B,C)]

1.04 ms ± 93.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [25]:
# Now Deal with the Same above Example using Numpy Module.

import numpy as np

Anp = np.array(A)
Bnp = np.array(B)
Cnp = np.array(C)

# Calculating the Time

%timeit result2 = Anp + Bnp + Cnp

12.1 µs ± 742 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

### Data Handling with Pandas

In [26]:
# Loading the Dataset
df = pd.read_csv('geocoded.csv')

len(df) # number of rows in the table

10

In [27]:
# Filetering the Data Only Related to Eastern Hemisphere
eastern = df[df.lon > 0 ] # those with non-negative longitude (easter hemisphere)

# Returning the Length of the Data
len(eastern)

8

In [28]:
# Calculating the Median Population of the countries.

result = eastern.groupby('country').agg({'population':'mean', 'icon':'count'})
result.rename(columns={'icon':'cities'}, inplace=True)
result

             population  cities
country
China           22.6825       2
India           25.2725       2
Indonesia       32.2700       1
Japan           38.0500       1
Philipines      24.6500       1
South Korea     24.2100       1

#### Writing Content to New CSV file

In [29]:
result.to_csv('aggregation.csv')